@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Anton&display=swap");

body {
  background-image: url("https://www.thespruce.com/thmb/9xGU6gMlp4nXULGzeg5VnWk21UI=/2163x0/filters:no_upscale():max_bytes(150000):strip_icc()/mower-w-operator-behind-big-59473bc15f9b58d58abae59b.jpg");
  background-position: center;
  background-size: 2200px;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
  font-family: "Anton", sans-serif;
  text-shadow: 1px 1px 2px black;
  font-size: 50px;
  color: cornsilk;
}

.content {
  display: flex;
  justify-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  gap: 10px;
}

.rules {
  margin: 0;
  padding: 0;
  max-width: 40%;
  border: 2px solid lightseagreen;
  background-color: aliceblue;
  font-size: 17px;
}

.rules p {
  margin-left: 10px;
}

button {
  margin-top: 20px;
  margin-right: 100px;
  border: 2px solid lightseagreen;
  background-color: aliceblue;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  width: 100px;
  height: 50px;
}

#start {
  margin-top: 150px;
}

#upgrade {
margin-top: 150px;
}

.game {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.results {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  font-family: "Anton", sans-serif;
  font-size: 38px;
  text-shadow: 2px 2px 2px black;
  color:cornsilk;
}
